In [10]:
import pandas as pd
import geopandas
import folium
import numpy
from folium.features import GeoJsonTooltip

In [11]:
"""
This map will visualise data of meat consumption in kg per person in the world. 
Input data will be read directly from a table in wikipedia, and built in geopandas world dataset.
Choropleth map will be used for visualisation.
"""

'\nThis map will visualise data of meat consumption in kg per person in the world. \nInput data will be read directly from a table in wikipedia, and built in geopandas world dataset.\nChoropleth map will be used for visualisation.\n'

In [12]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_meat_consumption"
tables = pd.read_html(url)
table = tables[0]

In [13]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

In [14]:
table = world.merge(table, how="left", left_on=["name"], right_on=["Country"])
table = table.dropna(subset="kg/person (2002)[9][note 1]")
table

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,Country,kg/person (2002)[9][note 1],kg/person (2009)[10],kg/person (2017) [11],kg/person (2017)[12]
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",Fiji,39.1,38.8,41.16,NaN
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",Tanzania,10.0,9.6,NaN,NaN
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",Canada,108.1,94.3,90.09,69.02
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",United States of America,124.8,120.2,121,98.21
5,18556698,Asia,Kazakhstan,KAZ,460700.0,"POLYGON ((87.35997 49.21498, 86.59878 48.54918...",Kazakhstan,44.8,62.6,64.49,49.60
...,...,...,...,...,...,...,...,...,...,...,...
165,105350020,Africa,Ethiopia,ETH,174700.0,"POLYGON ((47.78942 8.00300, 44.96360 5.00162, ...",Ethiopia,7.9,8.5,7.2,4.61
166,865267,Africa,Djibouti,DJI,3345.0,"POLYGON ((42.35156 12.54223, 42.77964 12.45542...",Djibouti,17.1,23.7,15.39,NaN
168,39570125,Africa,Uganda,UGA,84930.0,"POLYGON ((33.90371 -0.95000, 31.86617 -1.02736...",Uganda,11.7,11,11.55,NaN
169,11901484,Africa,Rwanda,RWA,21970.0,"POLYGON ((30.41910 -1.13466, 30.81613 -1.69891...",Rwanda,4.4,6.5,7.93,NaN
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",Trinidad and Tobago,57.8,47.7,75.5,NaN

In [15]:
my_map = folium.Map()
folium.Choropleth(
    geo_data=table,
    name="choropleth",
    data=table,
    columns=["Country", "kg/person (2002)[9][note 1]"],
    key_on="feature.properties.name",
    fill_color="OrRd",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="Meat consumption in kg per person",
).add_to(my_map)

In [16]:
folium.features.GeoJson(
                    data=table,
                    name='Meat consumption in kg per person',
                    smooth_factor=2,
                    style_function=lambda x: {'color':'black','fillColor':'transparent','weight':0.5},
                    tooltip=folium.features.GeoJsonTooltip(
                        fields=['Country',
                                'continent',
                                'kg/person (2002)[9][note 1]',
                               ],
                        aliases=["Country:",
                                 "Continent:",
                                 "Kg/person:",
                                ], 
                        localize=True,
                        sticky=False,
                        labels=True,
                        style="""
                            background-color: #F0EFEF;
                            border: 1px solid black;
                            border-radius: 3px;
                            box-shadow: 3px;
                        """,
                        max_width=800,),
                            highlight_function=lambda x: {'weight':2,'fillColor':'grey'},
                        ).add_to(my_map)

In [17]:
my_map